.tituloPrincipal{

    color: white;
    font-size: 15px;

}

.seccionAlbum{

    padding-top: 20px !important;

}

.tituloFooter{

    color: white;
    font-size: 15px;

}

.barraArriba{

    padding: 0px;

}

.containerSlide{

    padding-right: 52px;
    padding-left: 52px;

}

.navMenuColor{

    background-color: #0C6295;

}

.navMenuColorRSPLUS{

    background-color: #3DA491;

}

.navMenuColorRSWILD{

    background-color: #463119;

}

.navMenuColorRSTULUM{

    background-color: #F58323;

}

.navMenuColorRSPRIVILEGE{

    background-color: #000000;

}

.navMenuColorRSROMANCE{

    background-color: #CC73BB;

}

.navMenuMargin1{

    margin-top: 4px;
    margin-bottom: 20px;

}

.navMenuMargin2{

    margin-top: 0px;

}

.footer {

    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #0C6295;
    text-align: center;
    margin-top: 50px;;

}

.footerRSPLUS {

    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #3DA491;
    text-align: center;
    margin-top: 50px;;

}

.footerRSWILD {

    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #463119;
    text-align: center;
    margin-top: 50px;;

}

.footerRSTULUM {

    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #F58323;
    text-align: center;
    margin-top: 50px;;

}

.footerRSPRIVILEGE {

    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #000000;
    text-align: center;
    margin-top: 50px;;

}

.footerRSROMANCE {

    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #CC73BB;
    text-align: center;
    margin-top: 50px;;

}

.logosFinal{

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.logosFinalT{

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.logosFinalG{

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.logosFinalP{

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.logosFinalP2{

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #0C6295;
    color: white;
}

.back-to-topRSPlus {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #3DA491;
    color: white;
}

.back-to-topRSWILD {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #463119;
    color: white;
}

.back-to-topRSTULUM {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #F58323;
    color: white;
}

.back-to-topRSPRIVILEGE {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #000000;
    color: white;
}

.back-to-topRSROMANCE {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #CC73BB;
    color: white;
}

.back-to-top:hover{

    background-color: #0C6295;
    color: white;

}

.back-to-top:active{

    background-color: #0C6295;
    color: white;

}

.hrFinal{

    border: 1px solid #0C6295;

}

.hrFinalRSPLUS{

    border: 1px solid #3DA491;

}

.navMenuXSMargin{

    margin-top: 30px;

}

.listaSitios{

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;

}

.tituloPreFooter{

    font-weight: bold;
    margin-left: 5px;

}

.sitiosWeb{

    font-size: 15px;

}

.containerAlbum{

    padding: 0px;

}

.botonFiltroCL, .botonFiltroPL, .botonFiltroWL, .botonFiltroTU, .botonFiltroPR, .botonFiltroGB, 
.botonFiltroMA, .botonFiltroWA, .botonFiltroTUP{

    padding-left: 20px !important;
    padding-right: 20px !important;

}

.imgBienvenidos{

    display:flex;
    margin:0 auto;
    align: justify;

}

.navMenu{

    display: flex;

}

.linkBanderas{

    padding: 0;
    margin: 0;

}

.banderas{

    float: right !important;
    padding-left: 20px;

}

/*------------------------------------*\
	Videos insertados de YouTube
\*------------------------------------*/

.youtube-player {
	position: relative;
	padding-bottom: 56.23%; /* Usa 75% para vídeos 4:3 */
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 5px;
}
.youtube-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
}
.youtube-player img {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all;
}
.youtube-player img:hover {
	-webkit-filter: brightness(75%);
}
.youtube-player .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("//i.imgur.com/TxzC70f.png") no-repeat;
	cursor: pointer;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    text-align: center;
}


/*------------------------------------*\
	Responsive
\*------------------------------------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 575px) {
    
    .bannerXS{

        display: block;

    }

    .bannerS{

        display: none;

    }

    .bannerM{

        display: none;

    }

    .bannerLG{

        display: none;

    }

    .bannerXL{

        display: none;

    }

    .tituloPrincipal{

        color: white;
        font-size: 13px;
    
    }

    .divMenuXS{

        margin-bottom: 30px;

    }

    .divMenuLarge{


        display: none !important;

    }

    .ulRedes{

        text-align: center;
    
    }

    .imgBienvenidos{

        display:flex;
        margin:0 auto;
        width: 100%;
        align: justify;
        margin-bottom: 16px;
    
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {

    .bannerXS{

        display: none;

    }

    .bannerS{

        display: block;

    }

    .bannerM{

        display: none;

    }

    .bannerLG{

        display: none;

    }

    .bannerXL{

        display: none;

    }

    .divMenuXS{

        display: none;

    }

    .ulRedes{

        text-align: center;
    
    }

    .imgBienvenidos{

        display:flex;
        margin:0 auto;
        align: justify;
        margin-bottom: 16px;
    
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	.bannerXS{

        display: none;

    }

    .bannerS{

        display: none;

    }

    .bannerM{

        display: block;

    }

    .bannerLG{

        display: none;

    }

    .bannerXL{

        display: none;

    }

    .divMenuXS{

        display: none;

    }

    .ulRedes{

        text-align: right;
    
    
    }


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.bannerXS{

        display: none;

    }

    .bannerS{

        display: none;

    }

    .bannerM{

        display: none;

    }

    .bannerLG{

        display: block;

    }

    .bannerXL{

        display: none;

    }

    .divMenuXS{

        display: none;

    }

    .ulRedes{

        text-align: right;
    
    
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.bannerXS{

        display: none;

    }

    .bannerS{

        display: none;

    }

    .bannerM{

        display: none;

    }

    .bannerLG{

        display: none;

    }

    .bannerXL{

        display: block;

    }

    .containerBanners{

        padding: 0px;

    }

    .divMenuXS{

        display: none;

    }

    .ulRedes{

        text-align: right;
  
    
    }

}